<!DOCTYPE html>
<html lang="en">

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .playerList{
            width: 50%;
            background-color: blanchedalmond
        }
    </style>
 
    <head>
        <title>Hockey Squad Builder</title>
    </head>
 
    <body>
        {% if errorPopup %}
            <div>{{ errorPopup|safe }}</div>
        {% endif %}
        <h1>Hockey Squad Builder</h1>
        <form action="/squads" method="POST">
            Number of Squads:
            <input type="number" id=numSquads name=numSquads value=1 min=1 /> <br>
            <button type="submit" id=genSquads>Generate Squads</button> <br>
        </form>
        <form action = "/", method="GET">
            <button type="submit">Reset Squads</button>
        </form>

        <div>
            <h3>Waiting List</h3>
            {% if waitingList %}
                <div>{{ waitingList|safe }</div>
            {% else %}
                <div>No Waiting List Found</div>
            {% endif %}
        </div>
        {% if squads %}
            <div>
                {% for squad in squads %}
                    <h3>Squad {{loop.index}}</h3>
                    {{ squad|safe }}
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>
