<!DOCTYPE html>
<html lang="en">

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .playerList{
            width: 50%;
            background-color: blanchedalmond
        }
    </style>
 
    <head>
        <title>Hockey Squad Builder</title>
    </head>
 
    <body>
        <h1>Hockey Squad Builder</h1>

        Number of Squads:
        <input type="number" id=numSquads name=numSquads value=1 min=1 /> <br>

        <button type="button" id=genSquads>Generate Squads</button> <br>

        <button type="button" id=reset onClick="window.location.reload()">Reset Squads</button>

        <div>
            <h3>Waiting List</h3>
            {% if waitingList %}
                <div>{{ waitingList|safe }</div>
            {% else %}
                <div>No Waiting List Found</div>
            {% endif %}
        </div>
    </body>
</html>
